<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <mapper namespace ="com.example.demo.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.model.User">
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="PASSWORD" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="Email" jdbcType="VARCHAR" property="Email" />
        <result column="IDcardNumber" jdbcType="VARCHAR" property="IDcardNumber" />
    </resultMap>
    <insert id="insertUser" parameterType="com.example.demo.model.User">
        insert into user
        (username,PASSWORD,phone,sex,age,Email,IDcardNumber)
        values
        (#{username},#{PASSWORD},#{phone},#{sex},#{age},#{Email},#{IDcardNumber})
    </insert>
    <select id="selectUserByUsername" parameterType="java.lang.String" resultType="com.example.demo.model.User">
        select * from user
        where 
        username = #{username}
    </select >
</mapper>